/* .input-label{
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin: auto;
    text-align: center;
} */
.input-input,.input-label{
    width: 30vw;
    margin-top: 1rem;
}
.input-input{
    margin: auto;
    height: 2rem;
    border: 2px solid #7C3AED;
    border-radius: 0.5rem;
    padding-left: 1rem;
}
.input-label{
   
    margin: auto;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: large;
    font-family: var(--title-font);
}